.arrows {
  width: 1rem;
  height: 1rem;
}
.disabled {
  filter: grayscale(1);
}
.navigation_sharing {
  color: grey;
}
.Folder_nav {
  background-color: #edebdd;
  border: 1px solid #cdba7f;
}
.Search_folders_icons {
  width: 1.5rem;
  height: 1.5rem;
}
.Search_folders {
  border-right: 1px solid #cdba7f;
  border-left: 1px solid #cdba7f;
}
.go_Icon {
  width: 1.5rem;
  height: 1.5rem;
}
.Folder_search {
  background-color: #edebdd;
  border-bottom: 1px solid #cdba7f;
}
.search_box {
  border: 1px solid #0044b5;
  background-color: white;
}
.Skill_icons {
  width: 4rem;
  height: 4rem;
}
